language: c
dist: bionic

before_install:
    - eval "${MATRIX_EVAL}"

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-bionic-6.0
          packages:
            - clang-6.0
      env:
        - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++"-6.0

before_script:
  - echo "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main" | sudo tee -a /etc/apt/sources.list
  - wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -
  - sudo apt-get update -qq
  - sudo apt-get install clang-format-3.9 -y


install:
 - wget https://raw.githubusercontent.com/torvalds/linux/master/scripts/checkpatch.pl
 - wget https://raw.githubusercontent.com/torvalds/linux/master/scripts/spelling.txt
 - wget https://raw.githubusercontent.com/torvalds/linux/master/scripts/const_structs.checkpatch

script:
 - CFLAGS="-g -fsanitize=address -fno-omit-frame-pointer -Wall -Werror" make
 - CFLAGS="-g -fsanitize=address -fno-omit-frame-pointer -Wall -Werror" make check
 - perl checkpatch.pl --no-tree -f --strict --show-types --ignore NEW_TYPEDEFS --ignore PREFER_KERNEL_TYPES --ignore SPLIT_STRING --ignore UNNECESSARY_PARENTHESES --ignore SPDX_LICENSE_TAG --ignore OPEN_ENDED_LINE --ignore BOOL_MEMBER --ignore BIT_MACRO  --ignore PREFER_FALLTHROUGH --ignore MISSING_SPACE --ignore REPEATED_WORD --ignore ARRAY_SIZE *.[ch] common/*.[ch] frontend/*.[ch] test_cases/*.[ch] arch/arm32/*.[ch] backends/riscos/*.[ch] backends/riscos_common/*.[ch] backends/ptd/*.[ch]
 - ./check-format.sh
